In [1]:
import csv
import pandas as pd
import numpy as np
import processing 
import preprocess
%run processing
%run preprocess

# Stack test file

In [3]:
stack_df = pd.read_csv('ICIS-AIR_STACK_TESTS.csv')

In [3]:
stack_df.head()

,PGM_SYS_ID,ACTIVITY_ID,COMP_MONITOR_TYPE_CODE,COMP_MONITOR_TYPE_DESC,STATE_EPA_FLAG,ACTUAL_END_DATE,POLLUTANT_CODES,POLLUTANT_DESCS,AIR_STACK_TEST_STATUS_CODE,AIR_STACK_TEST_STATUS_DESC
0,RI0000004400900016,600078981,CST,Stack Test,E,10/03/2007,Volatile organic compounds,NaN,NaN,NaN
1,CT0000000900900001,600035891,CST,Stack Test,E,01/17/2007,Volatile organic compounds,NaN,NaN,NaN
2,CT0000000900900001,600035898,CST,Stack Test,E,01/18/2007,Volatile organic compounds,NaN,NaN,NaN
3,ME0000002301300004,600049983,CST,Stack Test,E,05/30/2007,Volatile organic compounds,NaN,NaN,NaN
4,MA0000002511900605,3400446154,CST,Stack Test,S,09/28/2011,VOLATILE ORGANIC COMPOUNDS (VOCS),NaN,PSS,Pass

In [29]:
print_null_freq(stack_df)

value                        False   True
variable
ACTIVITY_ID                 315709       0
ACTUAL_END_DATE             315707       2
ACTUAL_END_DATE_datetime    315707       2
ACTUAL_END_DATE_month       315707       2
ACTUAL_END_DATE_year        315707       2
AIR_STACK_TEST_STATUS_CODE  315709       0
AIR_STACK_TEST_STATUS_DESC  315709       0
COMP_MONITOR_TYPE_CODE      315709       0
COMP_MONITOR_TYPE_DESC      315709       0
PGM_SYS_ID                  315709       0
POLLUTANT_CODES             225895   89814
POLLUTANT_DESCS                  0  315709
STATE_EPA_FLAG              315709       0

In [30]:
# Data is not useful when AIR_STACK_TEST_STATUS_DESC is null -- drop nulls (But why so many?)
dropnan_df = stack_df.dropna(subset=['AIR_STACK_TEST_STATUS_DESC'])

In [32]:
print_null_freq(dropnan_df)

value                        False   True
variable
ACTIVITY_ID                 315709       0
ACTUAL_END_DATE             315707       2
ACTUAL_END_DATE_datetime    315707       2
ACTUAL_END_DATE_month       315707       2
ACTUAL_END_DATE_year        315707       2
AIR_STACK_TEST_STATUS_CODE  315709       0
AIR_STACK_TEST_STATUS_DESC  315709       0
COMP_MONITOR_TYPE_CODE      315709       0
COMP_MONITOR_TYPE_DESC      315709       0
PGM_SYS_ID                  315709       0
POLLUTANT_CODES             225895   89814
POLLUTANT_DESCS                  0  315709
STATE_EPA_FLAG              315709       0

In [34]:
# Add date, filter post 2006, needed variables

date_format = '%m/%d/%Y'
date_col = 'ACTUAL_END_DATE'
interest_var = ['AIR_STACK_TEST_STATUS_DESC']
fac_id = 'PGM_SYS_ID'

In [35]:
filtered_df = processing.date_and_filter(dropnan_df, date_format, date_col, interest_var, fac_id)

In [36]:
filtered_df.head()

,AIR_STACK_TEST_STATUS_DESC,PGM_SYS_ID,ACTUAL_END_DATE_datetime,ACTUAL_END_DATE_year
4,Pass,MA0000002511900605,2011-09-28 00:00:00,2011
5,Pass,CT0000000900300005,2007-04-26 00:00:00,2007
6,Pass,CT0000000900300005,2007-04-26 00:00:00,2007
7,Pass,CT0000000900300005,2008-05-01 00:00:00,2008
8,Pass,CT0000000900300005,2009-04-28 00:00:00,2009

In [37]:
stack_df.shape

(315709, 13)

In [38]:
filtered_df.shape #about 84,000 have been filtered out

(231927, 4)

In [10]:
#sum up how many times happened in each year
df_counts = processing.add_count_cols(filtered_df, fac_id, date_col+'_year', interest_var, 'stacktest')

In [11]:
df_counts.head()

,2007_stacktest_Fail,2007_stacktest_Pass,2007_stacktest_Pending,2008_stacktest_Fail,2008_stacktest_Pass,2008_stacktest_Pending,2009_stacktest_Fail,2009_stacktest_Pass,2009_stacktest_Pending,2010_stacktest_Fail,...,2015_stacktest_Pass,2015_stacktest_Pending,2016_stacktest_Fail,2016_stacktest_Incomplete,2016_stacktest_Pass,2016_stacktest_Pending,2017_stacktest_Fail,2017_stacktest_Incomplete,2017_stacktest_Pass,2017_stacktest_Pending
PGM_SYS_ID,,,,,,,,,,,,,,,,,,,,,
06000000481136E376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
080000003802500045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
080000003802500046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
080000003802500047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
080000003805300002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Print to file
df_counts.to_csv('air_stacktest_for_sql.csv')

In [13]:
df_counts.columns

Index(['2007_stacktest_Fail', '2007_stacktest_Pass', '2007_stacktest_Pending',
       '2008_stacktest_Fail', '2008_stacktest_Pass', '2008_stacktest_Pending',
       '2009_stacktest_Fail', '2009_stacktest_Pass', '2009_stacktest_Pending',
       '2010_stacktest_Fail', '2010_stacktest_Pass', '2010_stacktest_Pending',
       '2011_stacktest_Fail', '2011_stacktest_Pass', '2011_stacktest_Pending',
       '2012_stacktest_Fail', '2012_stacktest_Pass', '2012_stacktest_Pending',
       '2013_stacktest_Fail', '2013_stacktest_Incomplete',
       '2013_stacktest_Pass', '2013_stacktest_Pending', '2014_stacktest_Fail',
       '2014_stacktest_Incomplete', '2014_stacktest_Pass',
       '2014_stacktest_Pending', '2015_stacktest_Fail',
       '2015_stacktest_Incomplete', '2015_stacktest_Pass',
       '2015_stacktest_Pending', '2016_stacktest_Fail',
       '2016_stacktest_Incomplete', '2016_stacktest_Pass',
       '2016_stacktest_Pending', '2017_stacktest_Fail',
       '2017_stacktest_Incomplete', '2017_stacktest_Pass',
       '2017_stacktest_Pending'],
      dtype='object')

# Title V file

In [39]:
titlefive_df = pd.read_csv('ICIS-AIR_TITLEV_CERTS.csv')

In [40]:
titlefive_df.head()

,PGM_SYS_ID,ACTIVITY_ID,COMP_MONITOR_TYPE_CODE,COMP_MONITOR_TYPE_DESC,STATE_EPA_FLAG,ACTUAL_END_DATE,FACILITY_RPT_DEVIATION_FLAG
0,UT0000004903500210,3600154556,TVA,TV ACC Receipt/Review,S,04/30/2015,Y
1,UT0000004903500210,3600154556,TVA,TV ACC Receipt/Review,S,04/30/2015,Y
2,UT0000004903500210,3600154556,TVA,TV ACC Receipt/Review,S,04/30/2015,Y
3,UT0000004903500210,3600154556,TVA,TV ACC Receipt/Review,S,04/30/2015,Y
4,UT0000004903500210,3600154556,TVA,TV ACC Receipt/Review,S,04/30/2015,Y

In [20]:
print_null_freq(titlefive_df)

value                          False    True
variable
ACTIVITY_ID                  1720800        0
ACTUAL_END_DATE              1690770    30030
COMP_MONITOR_TYPE_CODE       1720800        0
COMP_MONITOR_TYPE_DESC       1720800        0
FACILITY_RPT_DEVIATION_FLAG   632470  1088330
PGM_SYS_ID                   1720800        0
STATE_EPA_FLAG               1720800        0

In [41]:
# drop nulls
dropnan_df = titlefive_df.dropna(subset=['ACTUAL_END_DATE'])
dropnan_df = dropnan_df.dropna(subset=['FACILITY_RPT_DEVIATION_FLAG'])

In [42]:
print_null_freq(dropnan_df)

value                         False
variable
ACTIVITY_ID                  632470
ACTUAL_END_DATE              632470
COMP_MONITOR_TYPE_CODE       632470
COMP_MONITOR_TYPE_DESC       632470
FACILITY_RPT_DEVIATION_FLAG  632470
PGM_SYS_ID                   632470
STATE_EPA_FLAG               632470

In [43]:
# Add date, filter post 2006, needed variables

date_format = '%m/%d/%Y'
date_col = 'ACTUAL_END_DATE'
interest_var = ['FACILITY_RPT_DEVIATION_FLAG']
fac_id = 'PGM_SYS_ID'

In [44]:
filtered_df = processing.date_and_filter(dropnan_df, date_format, date_col, interest_var, fac_id)

In [45]:
filtered_df.head()

,FACILITY_RPT_DEVIATION_FLAG,PGM_SYS_ID,ACTUAL_END_DATE_datetime,ACTUAL_END_DATE_year
0,Y,UT0000004903500210,2015-04-30 00:00:00,2015
1,Y,UT0000004903500210,2015-04-30 00:00:00,2015
2,Y,UT0000004903500210,2015-04-30 00:00:00,2015
3,Y,UT0000004903500210,2015-04-30 00:00:00,2015
4,Y,UT0000004903500210,2015-04-30 00:00:00,2015

In [46]:
titlefive_df.shape

(1720800, 7)

In [28]:
filtered_df.shape #over 1 million filtered out

(526025, 4)

In [47]:
#sum up how many times happened in each year
df_counts = processing.add_count_cols(filtered_df, fac_id, date_col+'_year', interest_var, 'titlefive')

In [48]:
df_counts.head()

,2007_titlefive_N,2007_titlefive_Y,2008_titlefive_N,2008_titlefive_Y,2009_titlefive_N,2009_titlefive_Y,2010_titlefive_N,2010_titlefive_Y,2011_titlefive_N,2011_titlefive_Y,...,2013_titlefive_N,2013_titlefive_Y,2014_titlefive_N,2014_titlefive_Y,2015_titlefive_N,2015_titlefive_Y,2016_titlefive_N,2016_titlefive_Y,2017_titlefive_N,2017_titlefive_Y
PGM_SYS_ID,,,,,,,,,,,,,,,,,,,,,
080000004904500088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0
080000004904700001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,5
080000004904700004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
080000004904700021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
080000004904700023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,0,0,0

In [49]:
# Print to file
df_counts.to_csv('air_titlefive_for_sql.csv')

In [50]:
df_counts.columns

Index(['2007_titlefive_N', '2007_titlefive_Y', '2008_titlefive_N',
       '2008_titlefive_Y', '2009_titlefive_N', '2009_titlefive_Y',
       '2010_titlefive_N', '2010_titlefive_Y', '2011_titlefive_N',
       '2011_titlefive_Y', '2012_titlefive_N', '2012_titlefive_Y',
       '2013_titlefive_N', '2013_titlefive_Y', '2014_titlefive_N',
       '2014_titlefive_Y', '2015_titlefive_N', '2015_titlefive_Y',
       '2016_titlefive_N', '2016_titlefive_Y', '2017_titlefive_N',
       '2017_titlefive_Y'],
      dtype='object')

# Informal Action file

In [51]:
informalact_df = pd.read_csv('ICIS-AIR_INFORMAL_ACTIONS.csv')

In [52]:
informalact_df.head()

,PGM_SYS_ID,ACTIVITY_ID,ENF_IDENTIFIER,ACTIVITY_TYPE_CODE,ACTIVITY_TYPE_DESC,STATE_EPA_FLAG,ENF_TYPE_CODE,ENF_TYPE_DESC,ACHIEVED_DATE
0,NH0000003300900020,119966,01-100020760,AIF,Administrative - Informal,E,LRE,Letter to Regulated Entity,05/24/2004
1,CT0000000900905468,119525,01-100020694,AIF,Administrative - Informal,E,LRE,Letter to Regulated Entity,06/15/2004
2,CT0000000900909912,157284,01-100021969,AIF,Administrative - Informal,E,NOV,Notice of Violation,09/20/2005
3,MA0000002511900793,115568,01-100020398,AIF,Administrative - Informal,E,LRE,Letter to Regulated Entity,04/02/2004
4,CASCA0000605900006,87573,HQ-100018673,AIF,Administrative - Informal,E,NOD,Notice of Determination,12/10/2001

In [54]:
print_null_freq(informalact_df)

value                False  True
variable
ACHIEVED_DATE       128940    370
ACTIVITY_ID         129310      0
ACTIVITY_TYPE_CODE  129310      0
ACTIVITY_TYPE_DESC  129310      0
ENF_IDENTIFIER      129310      0
ENF_TYPE_CODE       129310      0
ENF_TYPE_DESC       129310      0
PGM_SYS_ID          129310      0
STATE_EPA_FLAG      129310      0

In [55]:
dropnan = informalact_df.dropna(subset=['ACHIEVED_DATE'])

In [56]:
print_null_freq(dropnan)

value                False
variable
ACHIEVED_DATE       128940
ACTIVITY_ID         128940
ACTIVITY_TYPE_CODE  128940
ACTIVITY_TYPE_DESC  128940
ENF_IDENTIFIER      128940
ENF_TYPE_CODE       128940
ENF_TYPE_DESC       128940
PGM_SYS_ID          128940
STATE_EPA_FLAG      128940

In [53]:
# Add date, filter post 2006, needed variables

date_format = '%m/%d/%Y'
date_col = 'ACHIEVED_DATE'
interest_var = ['ENF_TYPE_DESC']
fac_id = 'PGM_SYS_ID'

In [58]:
filtered_df = processing.date_and_filter(dropnan, date_format, date_col, interest_var, fac_id)

C:\Users\Sun-joo Lee\Dropbox\ICIS-AIR_downloads\processing.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[date_column+'_datetime'] = df[date_column].apply(convert_to_datetime, date_format=date_format)
C:\Users\Sun-joo Lee\Dropbox\ICIS-AIR_downloads\processing.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[date_column+'_month'] = df[date_column+'_datetime'].apply(convert_to_month)
C:\Users\Sun-joo Lee\Dropbox\ICIS-AIR_downloads\processing.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[date_column+'_year'] = df[date_column+'_datetime'].apply(convert_to_year)

In [59]:
filtered_df.head()

,ENF_TYPE_DESC,PGM_SYS_ID,ACHIEVED_DATE_datetime,ACHIEVED_DATE_year
84,Notice of Violation,AR0000000506900118,2007-08-10 00:00:00,2007
86,Notice of Violation,TX0000004844900005,2008-02-05 00:00:00,2008
87,Notice of Violation,LA0000002200500046,2008-06-26 00:00:00,2008
89,Notice of Violation,0900000006071R9800,2008-03-18 00:00:00,2008
90,Notice of Violation,0900000006099R9800,2008-03-08 00:00:00,2008

In [60]:
informalact_df.shape

(129310, 9)

In [61]:
filtered_df.shape  #80,000 filtered out

(49726, 4)

In [62]:
#sum up how many times happened in each year
df_counts = processing.add_count_cols(filtered_df, fac_id, date_col+'_year', interest_var, 'informalact')

In [63]:
df_counts.head()

,2007_informalact_Notice of Violation,2007_informalact_Warning Letter,2008_informalact_Notice of Violation,2008_informalact_Warning Letter,2009_informalact_Notice of Violation,2009_informalact_Warning Letter,2010_informalact_Notice of Violation,2010_informalact_Warning Letter,2011_informalact_Letter to Regulated Entity,2011_informalact_Notice of Violation,...,2015_informalact_Warning Letter,2016_informalact_Letter of Violation/ Warning Letter,2016_informalact_Notice of Violation,2016_informalact_Warning Letter,2017_informalact_Notice of Violation,2017_informalact_Warning Letter,2020_informalact_Notice of Violation,2022_informalact_Notice of Violation,2104_informalact_Notice of Violation,2915_informalact_Warning Letter
PGM_SYS_ID,,,,,,,,,,,,,,,,,,,,,
020000003402318224,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
020000003402318231,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
020000003402700170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
0200000036103LIERE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0500000017163U0011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
# Print to file
df_counts.to_csv('air_informalact_for_sql.csv')

In [65]:
df_counts.columns

Index(['2007_informalact_Notice of Violation',
       '2007_informalact_Warning Letter',
       '2008_informalact_Notice of Violation',
       '2008_informalact_Warning Letter',
       '2009_informalact_Notice of Violation',
       '2009_informalact_Warning Letter',
       '2010_informalact_Notice of Violation',
       '2010_informalact_Warning Letter',
       '2011_informalact_Letter to Regulated Entity',
       '2011_informalact_Notice of Violation',
       '2011_informalact_Warning Letter',
       '2012_informalact_Information Request Letter',
       '2012_informalact_Notice of Violation',
       '2012_informalact_Warning Letter',
       '2013_informalact_Information Request Letter',
       '2013_informalact_Notice of Violation',
       '2013_informalact_Warning Letter',
       '2014_informalact_Notice of Violation',
       '2014_informalact_Warning Letter',
       '2015_informalact_Letter of Violation/ Warning Letter',
       '2015_informalact_Notice of Noncompliance Issued',
       '2015_informalact_Notice of Violation',
       '2015_informalact_Show Cause Letter', '2015_informalact_Warning Letter',
       '2016_informalact_Letter of Violation/ Warning Letter',
       '2016_informalact_Notice of Violation',
       '2016_informalact_Warning Letter',
       '2017_informalact_Notice of Violation',
       '2017_informalact_Warning Letter',
       '2020_informalact_Notice of Violation',
       '2022_informalact_Notice of Violation',
       '2104_informalact_Notice of Violation',
       '2915_informalact_Warning Letter'],
      dtype='object')

In [18]:
def print_null_freq(df):
    """
    DataGotham2013 (GitID) function to check nulls per column
    for a given DataFrame, calculates how many values for each variable is null
    and prints the resulting table to stdout
    """
    df_lng = pd.melt(df)
    null_variables = df_lng.value.isnull()
    print (pd.crosstab(df_lng.variable, null_variables))