In [170]:
import requests
import time
from bs4 import BeautifulSoup
import urllib
import urllib3
import json
import ast
import pandas as pd

#Get current data for a locality
url = "http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1fsgjgbdkp7_3tnpx&address=5410+south+richwoood+court&citystatezip=Chicago%2C+IL&rentzestimate=true"
def url_to_xml(url):
    address = url
    pm = urllib3.PoolManager()
    html = pm.urlopen(url=address, method='GET').data
    soup = BeautifulSoup(html, 'lxml')
    #soup.body.response.results.result.rentzestimate
    rent = soup.find("rentzestimate").find('amount', currency="USD").text
    return rent
url_to_xml(url)

AttributeError: 'NoneType' object has no attribute 'find'

In [162]:
# combining rental data
#https://www.zillow.com/research/data/#rental-data

# read the csvs
br_1 = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_1Bedroom.csv")
br_2 = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_2Bedroom.csv")
br_3 = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_3Bedroom.csv")
br_4 = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_4Bedroom.csv")
br_5 = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_5BedroomOrMore.csv")
br_studio = pd.read_csv("data/project/Neighborhood_MedianRentalPrice_Studio.csv")

#add number of rooms as a column in all
br_1["num_rooms"] = 1
br_2["num_rooms"] = 2
br_3["num_rooms"] = 3
br_4["num_rooms"] = 4
br_5["num_rooms"] = 5
br_studio["num_rooms"] = 0

#combine data
zillow_data = br_1.append([br_2,br_3,  br_4, br_5, br_studio])

In [163]:
zillow_data[(zillow_data["City"] == "Chicago") & (zillow_data["RegionName"] == "Logan Square")].head()

,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,2010-11,...,2017-01,2017-02,2017-03,City,CountyName,Metro,RegionName,SizeRank,State,num_rooms
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1250.0,1275.0,1295.0,Chicago,Cook,Chicago,Logan Square,36,IL,1
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1500.0,1500.0,1550.0,Chicago,Cook,Chicago,Logan Square,39,IL,2
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1925.0,1900.0,1925.0,Chicago,Cook,Chicago,Logan Square,40,IL,3
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,995.0,1000.0,995.0,Chicago,Cook,Chicago,Logan Square,15,IL,0