In [1]:
%matplotlib inline
import matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
# Read all data 
pd1509 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0149_2015-09-01.csv')
pd1510 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0189_2015-10-23.csv')
pd1511 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0217_2015-11-28.csv')
pd1512 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0241_2015-12-15.csv')
pd1601 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0288_2016-01-19.csv')
pd1602 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0327_2016-02-22.csv')
pd1603 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0350_2016-03-22.csv')
pd1604 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0392_2016-04-18.csv')
pd1605 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0426_2016-05-22.csv')
pd1606 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0467_2016-06-21.csv')
pd1607 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0495_2016-07-19.csv')
pd1608 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0530_2016-08-22.csv')
pd1609 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0572_2016-09-18.csv')
pd1610 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0616_2016-10-21.csv')
pd1611 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0655_2016-11-24.csv')
pd1612 = pd.read_csv('s3_files/seattle/tomslee_airbnb_seattle_0712_2016-12-25.csv')

cal = pd.read_csv('calendar.csv')

In [3]:
# Listings: Merge all listing data (TomsLee)
airb = [pd1509, pd1510, pd1511, pd1512, pd1601, pd1602, pd1603, pd1604, pd1605, pd1606, pd1607, pd1608, pd1609, pd1610, pd1611, pd1612]
sea_ab = pd.concat(airb)

In [4]:
# Listings: Create column variables for merging 
sea_ab.set_index(pd.DatetimeIndex(sea_ab['last_modified']), inplace = True)

sea_ab['month']  = sea_ab.rename(index = lambda x: x.strftime('%b %y')).index
sea_ab = sea_ab.reset_index(drop = True, inplace = False)

In [31]:
# Calendar: Create column variables for merging 
cal['price'] = (cal['price'].replace( '[\$,)]','', regex=True ).astype(float))

cal.set_index(pd.DatetimeIndex(cal['date']), inplace = True)
cal['weekday'] = cal.rename(index = lambda x: x.strftime('%A')).index
cal['month']  = cal.rename(index = lambda x: x.strftime('%b %y')).index
cal['occupied'] = cal['available'] != 't'
cal = cal.reset_index(drop = True, inplace = False)

cal = cal.rename(columns = {'listing_id':'room_id'})

In [33]:
# Calendar: Pivot table of availability by weekdays 
listings = pd.pivot_table(cal, index=['room_id', 'month', 'weekday', 'available'])
listings

                                    occupied  price
room_id  month  weekday   available
3335     Apr 16 Friday    t            False  120.0
                Monday    t            False  120.0
                Saturday  t            False  120.0
                Sunday    t            False  120.0
                Thursday  t            False  120.0
                Tuesday   t            False  120.0
                Wednesday t            False  120.0
         Aug 16 Friday    t            False  120.0
                Monday    t            False  120.0
                Saturday  t            False  120.0
                Sunday    t            False  120.0
                Thursday  t            False  120.0
                Tuesday   t            False  120.0
                Wednesday t            False  120.0
         Dec 16 Friday    t            False  120.0
                Monday    t            False  120.0
                Saturday  t            False  120.0
                Sunday    t            False  120.0
                Thursday  t            False  120.0
                Tuesday   t            False  120.0
                Wednesday t            False  120.0
         Feb 16 Friday    f             True    NaN
                Monday    f             True    NaN
                          t            False  120.0
                Saturday  f             True    NaN
                Sunday    f             True    NaN
                Thursday  f             True    NaN
                Tuesday   f             True    NaN
                Wednesday f             True    NaN
         Jan 16 Friday    f             True    NaN
...                                      ...    ...
10340165 Mar 16 Tuesday   t            False   43.0
                Wednesday t            False   43.0
         May 16 Friday    t            False   43.0
                Monday    t            False   43.0
                Saturday  t            False   43.0
                Sunday    t            False   43.0
                Thursday  t            False   43.0
                Tuesday   t            False   43.0
                Wednesday t            False   43.0
         Nov 16 Friday    t            False   43.0
                Monday    t            False   43.0
                Saturday  t            False   43.0
                Sunday    t            False   43.0
                Thursday  t            False   43.0
                Tuesday   t            False   43.0
                Wednesday t            False   43.0
         Oct 16 Friday    t            False   43.0
                Monday    t            False   43.0
                Saturday  t            False   43.0
                Sunday    t            False   43.0
                Thursday  t            False   43.0
                Tuesday   t            False   43.0
                Wednesday t            False   43.0
         Sep 16 Friday    t            False   43.0
                Monday    t            False   43.0
                Saturday  t            False   43.0
                Sunday    t            False   43.0
                Thursday  t            False   43.0
                Tuesday   t            False   43.0
                Wednesday t            False   43.0

[356543 rows x 2 columns]

In [22]:
# Calendar: New Cal DF for listings that are 'occupied'
cal_occupied = cal[cal['occupied']]

In [28]:
# City: Merge listing and calendar data 
seattle = pd.merge(sea_ab, cal_occupe, how ='inner', on = ['room_id', 'month'])

In [29]:
seattle.groupby(['room_id', 'month', 'weekday']).size()

room_id   month   weekday
3335      Jan 16  Friday       4
                  Monday       4
                  Saturday     4
                  Sunday       4
                  Thursday     4
                  Tuesday      4
                  Wednesday    4
5682      Apr 16  Friday       1
                  Monday       1
                  Saturday     1
                  Tuesday      1
                  Wednesday    1
          Feb 16  Friday       1
                  Monday       2
                  Saturday     1
                  Sunday       2
          Jan 16  Friday       3
                  Monday       3
                  Saturday     4
                  Sunday       3
                  Thursday     3
                  Tuesday      1
                  Wednesday    1
          Mar 16  Friday       3
                  Monday       2
                  Saturday     2
                  Sunday       3
                  Thursday     3
                  Tuesday      4
                  Wednesday    3
                              ..
10319529  Jan 16  Saturday     4
                  Sunday       4
                  Thursday     4
                  Tuesday      4
                  Wednesday    4
          Nov 16  Friday       4
                  Monday       4
                  Saturday     4
                  Sunday       4
                  Thursday     4
                  Tuesday      5
                  Wednesday    5
          Oct 16  Friday       4
                  Monday       5
                  Saturday     5
                  Sunday       5
                  Thursday     4
                  Tuesday      4
                  Wednesday    4
10331249  Jan 16  Friday       1
                  Monday       2
                  Saturday     1
                  Sunday       1
                  Thursday     2
                  Tuesday      2
                  Wednesday    2
10334184  Jan 16  Monday       1
                  Thursday     1
                  Tuesday      1
                  Wednesday    1
dtype: int64

In [ ]:
5